<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty name="jsonLoggingEnabled" source="logging.json.enabled" defaultValue="false"/>

    <if condition="${jsonLoggingEnabled:-false} == true">
        <then>
            <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="ch.qos.logback.classic.encoder.JsonEncoder">
                </encoder>
            </appender>
        </then>
        <else>
            <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                    <charset>utf8</charset>
                </encoder>
            </appender>
        </else>
    </if>

    <appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/console.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/console-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${LOG_CONSOLE_MAXFILESIZE:-100MB}</maxFileSize>
            <maxHistory>${LOG_CONSOLE_MAXHISTORY:-7}</maxHistory>
            <totalSizeCap>${LOG_CONSOLE_TOTALSIZECAP:-300MB}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <logger name="org" level="INFO"/>
    <logger name="com" level="INFO"/>

    <logger name="org.apache.fineract" level="DEBUG"/>
    <logger name="liquibase" level="INFO"/>
    <logger name="liquibase.changelog" level="WARN"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.security" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOG_FILE"/>
    </root>

</configuration>
